.nav-body{
    background-color: #090909;
    height:9vh;
    width: 100vw;
    display: flex;
    padding: 0 5% 0 5%;
    box-sizing: border-box;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    flex-direction: row;
}
.nav-body>*:nth-child(1){
    font-size: xx-large;
    width: fit-content;
    text-decoration: none;
    color: inherit;
}
.nav-items{
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 0 0 25px;
}
ul>*{
    text-decoration: none;
    list-style-type: none;
    position: relative;
    color: white;
    padding-left: 15px;
}

.search{
    font-size: inherit;
}   

.search>*{
    background-color: #3b3b41;
    color: wheat;
    border: 0;
    padding: 8px;
    box-sizing: border-box;
    border-radius: 20px;
    height: 40px;
    letter-spacing: 2px;
}

ul>*:hover{
    cursor: pointer;
}
.optionsContainer{
    display: none;
    position: absolute;
    max-width: 420px;
    overflow-y: scroll;
    max-height: 312px;
    border-radius: 5px;
    min-width: 400px;
    flex-wrap: wrap;
    background-color: #3b3b41;
    z-index: 1;
    padding: 10px;
}
.optionsContainer>*{
    padding: 10px;
    max-width: 33.3%;
    min-width: 33.3%;
    flex-grow: 0.3;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
}
.optionsContainer a:hover{
    background-color: #1f1f21;
}
.optionsContainer:hover{
    display: flex;
}
.menu-bar{
    display: none;
}
.close{
    display: none;
}
@media screen and (max-width:550px) {
    .nav-body>*:nth-child(1){
        font-size: x-large;
    }
    .nav-body{
        position: relative;
    }
    .nav-items{
        background-color: #090909;
        row-gap: 10px;
        padding: 10px;
        display: flex;
        position: absolute;
        flex-direction: column;
        justify-content: center;
        z-index: 1;
        right: 0;
        top: 9vh;
    }
    .nav-body .nav-items ul{
        row-gap: 10px;
        padding: 0;
        flex-direction: column;
        width: fit-content;
    }
    ul>*{
        padding: 0;
    }
    .optionsContainer{
        right: 0;
    }
    
    .optionsContainer{
        min-width: 0;
        flex-direction: row;
    }
    .optionsContainer>*{
        flex: 1 1 100%;
        max-width: 100%;
    }
    .menu-bar{
        display: flex;
        justify-content: flex-end;
        flex: 1;
    }
}
@media screen and (max-width:800px) {
    .nav-body>*:nth-child(1){
        font-size: x-large;
    }
}